.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem;
  width: 350px;
  margin: 5px;
  border-radius: 8px;

  background-color: var(--color-white-background);
  color: var(--color-text-title);
  border: 2px solid var(--color-primary-dark);
  font-weight: 500;
}

.card-container h3 {
  margin-bottom: 0%;
}

.card-container img {
  height: 300px;
  width: 300px;
  border-radius: 8px;
}

.card-btn {
  border-radius: 25px;
  margin-top: 1rem;

  font-weight: 500;
  background-color: var(--color-primary-medium);
  color: var(--color-box-base);
  border: none;

  cursor: pointer;
  transition: background-color 0.2s !important;
}

.card-btn:hover {
  background-color: var(--color-primary-light);
}
